<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Playwright Suite" verbose="1">

    <test name="UI Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.EmployeeTest"/>
            <class name="tests.DashboardTest"/>
        </classes>
    </test>

</suite>